@media (max-width: 1024px) {
  .menu-mobile {
    display: block;
  }
  .header-main-menu {
    display: none;
    position: fixed;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    top: 80px;
    left: 0;
    background: #333;
    color: #fff;
    ul {
      flex-direction: column;
      a {
        color: rgb(235, 235, 235);
      }
      li {
        padding: 10px 0;
        border-bottom: 1px solid #777777;
        width: 100%;
        text-align: center;
      }
    }
  }
  .header-main-logo {
    width: 30%;
    img {
      max-width: 100%;
    }
  }
  .main__banner--img {
    background-size: 36%;
    background-position: 88% 140px;
  }
  .banner {
    .main-banner-content {
        .text {
          .text1 {
            font-size: 35px;
          }
          .text2 {
            font-size: 30px;
          }
          p {
            font-size: 14px;
          }
        }
    }
    .img-1 {
      display: none;
    }
    height: 835px;
  }
  .strength {
    .strength__row {
      flex-direction: column;
      max-height: 100%;
      .item {
        width: 100%;
        &:nth-child(odd) {
          .item-img {
            order: 2;
          }
          .item-text {
            order: 1;
          }
        }
      }
    }
  }
  .strength__row {
    .item {
      flex-direction: row;
      justify-content: center;
    }
  }
  .product {
    .container {
      .row {
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        justify-content: flex-start;
        .col {
          width: 312px;
          .pro_img {
            img {
              max-width: 100%;
            }
          }
        }
      }
      .listing {
        display: flex;
        .text_1 {
          font-size: 18px;
        }
      }
    }
  }
  .pro_img {
    width: 100%;
    height: 220px;
  }
  
  .brand {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu-footer {
    flex-direction: column;
    ul {
      margin-top: 19px;
      li {
        margin-top: 15px;
      }
    }
  }
  .contact {
    width: 100%;
    margin-top: 23px;
  }
  .copyright {
    padding-top: 7px;
  }
  .footer-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 140px;
  }
  .footer-menu ul li a {
    color: #777777;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .header {
    height: 80px;
  }
  .header-main-icon {
    transform: translateX(15px);
  }
  .main-banner-content {
    .text {
      .text1 {
        font-size: 30px;
      }
      .text2 {
        font-size: 25px;
      }
    }
  }
  .main__banner--img {
    background-image: none !important;
  }
  .product {
    .container {
      .listing {
        .text_1 {
          font-size: 15px !important;
        }
      }
      .row {
        .col {
          width: 100%;
          .pro_text {
            text-align: center;
          }
        }
      }
    }
  }
  .product {
    .container {
      .row {
        .col {
          .pro_item {
            &:hover {
              .pro_icon {
                left: 400px;
              }
            }
          }
        }
      }
    }
  }
  
  .brand {
    display: flex;
    flex-wrap: wrap;
    .brand__logo {
      margin: 29px 12px;
    }
  }
  .footer-copyright {
    padding: 12px 15px;
  }
  .header-main-menu {
    margin-left: 0;
  }
  .strength__row {
    .item {
      flex-direction: column;
    }
  }
  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 0;
  }
}
